.aa-popup .aa-popup-content {
  padding: 20px; }

.aa-popup h1 {
  text-align: center;
  font-size: 1em;
  line-height: 4em;
  border-bottom: solid 1px #EEEEEE;
  margin: 0; }

.aa-popup h2 {
  float: left;
  width: 100%;
  margin: 1.8em 0 .5em;
  font-size: 1.2em;
  font-weight: 200;
  color: #888888; }

.aa-popup p {
  float: left;
  font-size: 1em;
  line-height: 1.5em;
  margin: .5em 0;
  color: #333333; }

.aa-popup ul {
  float: right;
  list-style: none;
  margin: 0;
  padding: 10px 0 0; }
  .aa-popup ul li {
    display: inline-block;
    margin-left: 10px;
    line-height: 2em; }

.aa-popup button {
  width: 100%;
  font-size: 1.2em;
  border-radius: 3px;
  background-color: #3879D9;
  border: solid 1px #2460ba;
  color: white;
  padding: 5px 10px;
  cursor: pointer; }
  .aa-popup button img {
    vertical-align: bottom; }

.aa-popup .aa-algolia-logo {
  clear: both;
  width: 100px;
  display: block;
  margin: 0 auto; }
  .aa-popup .aa-algolia-logo img {
    width: 100%; }

.aa-popup a {
  color: #3879D9;
  text-decoration: none; }
  .aa-popup a:hover {
    text-decoration: underline; }

.aa-popup a:focus, .aa-popup button:focus {
  outline: 0 !important;
  box-shadow: none !important; }

.awesome-autocomplete {
  position: relative; }
  .awesome-autocomplete .tt-input {
    width: 100%;
    border: 0; }
  .awesome-autocomplete .tt-hint {
    color: #999; }
  .awesome-autocomplete .tt-cursor {
    background-color: #FFF9EA; }
  .awesome-autocomplete .tt-dropdown-menu {
    font-weight: normal;
    padding: 0;
    border: 1px solid #DDDDDD;
    border-top: none;
    background-color: white;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    box-sizing: border-box; }
    .awesome-autocomplete .tt-dropdown-menu .octicon {
      color: #888888; }
    .awesome-autocomplete .tt-dropdown-menu .octicon.octicon-star {
      vertical-align: middle; }
    .awesome-autocomplete .tt-dropdown-menu .aa-query {
      padding: 8px;
      color: #888888;
      display: block;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      .awesome-autocomplete .tt-dropdown-menu .aa-query .aa-query-cursor strong, .awesome-autocomplete .tt-dropdown-menu .aa-query .aa-query-default em {
        color: #333333; }
    .awesome-autocomplete .tt-dropdown-menu .aa-branding {
      padding: 10px;
      text-align: right;
      font-size: .9em;
      color: #888888; }
      .awesome-autocomplete .tt-dropdown-menu .aa-branding img {
        height: 18px;
        vertical-align: bottom; }
      .awesome-autocomplete .tt-dropdown-menu .aa-branding svg {
        margin-bottom: -4px; }
    .awesome-autocomplete .tt-dropdown-menu .aa-category {
      padding: 5px 8px;
      font-weight: bold;
      text-align: left;
      background-color: #f5f5f5;
      color: #888888; }
    .awesome-autocomplete .tt-dropdown-menu .tt-suggestion {
      padding: 10px 10px;
      text-align: left;
      border-bottom: 1px solid #EEEEEE;
      cursor: pointer; }
      .awesome-autocomplete .tt-dropdown-menu .tt-suggestion:last-child {
        border-bottom: 0; }
      .awesome-autocomplete .tt-dropdown-menu .tt-suggestion em {
        font-style: normal;
        background-color: #FFFFC6;
        color: #333333; }
      .awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion:hover {
        text-decoration: none; }
        .awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion:hover .aa-name {
          text-decoration: underline; }
      .awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion .aa-infos {
        float: right;
        line-height: 3em;
        color: #888888;
        font-size: .9em; }
        .awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion .aa-infos i {
          font-size: 14px; }
      .awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion .aa-name {
        font-size: 1.1em; }
      .awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-user {
        height: 35px; }
        .awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-user .aa-thumbnail {
          float: left;
          position: relative;
          top: 3px;
          width: 30px;
          height: 30px;
          margin-right: 10px;
          border-radius: 3px;
          overflow: hidden;
          background-color: #f5f5f5; }
          .awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-user .aa-thumbnail img {
            width: 100%; }
        .awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-user .aa-name {
          font-weight: bold; }
        .awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-user .aa-login {
          color: #888888; }
        .awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-user .aa-company {
          color: #333333; }
          .awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-user .aa-company i {
            font-size: 14px;
            color: #888888; }
      .awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-repo {
        height: 3em; }
        .awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-repo .aa-thumbnail {
          float: left;
          position: relative;
          top: 3px;
          width: 30px;
          height: 30px;
          margin-right: 10px;
          border-radius: 3px;
          overflow: hidden;
          background-color: #f5f5f5; }
          .awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-repo .aa-thumbnail img {
            width: 100%; }
        .awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-repo .aa-name {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: normal; }
        .awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-repo .aa-repo-name {
          font-weight: bold; }
        .awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-repo .aa-description {
          height: 1.3em;
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #888888; }
      .awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-issue .aa-thumbnail {
        float: left;
        position: relative;
        top: 3px;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        border-radius: 3px;
        overflow: hidden;
        background-color: #f5f5f5; }
        .awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-issue .aa-thumbnail img {
          width: 100%; }
      .awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-issue .aa-name {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: normal; }
      .awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-issue .aa-repo-name {
        color: #888888; }
      .awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-issue .aa-issue-number {
        font-weight: bold;
        color: #888888; }
      .awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-issue .aa-issue-body {
        clear: both;
        color: #888888;
        overflow: hidden;
        text-overflow: ellipsis; }
      .awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-your-repo {
        height: 1.5em; }
        .awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-your-repo .aa-name {
          width: 85%;
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: normal; }
          .awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-your-repo .aa-name .aa-repo {
            font-weight: bold; }
        .awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-your-repo i {
          font-size: 14px; }
    .awesome-autocomplete .tt-dropdown-menu .tt-dataset-current-repo .tt-suggestion {
      padding: 0; }
  .awesome-autocomplete .icon-delete {
    -webkit-transition: opacity 80ms;
    transition: opacity 80ms;
    position: absolute;
    padding: 0;
    margin: 0;
    display: block;
    right: 6px;
    bottom: 5px;
    height: 16px;
    width: 16px;
    z-index: 100;
    opacity: 0;
    visibility: hidden; }
    .awesome-autocomplete .icon-delete.active {
      opacity: .5;
      visibility: visible; }
  .awesome-autocomplete.flex-table-item .icon-delete {
    bottom: 8px;
    right: 22px; }

.js-site-search .awesome-autocomplete .twitter-typeahead {
  width: 100%; }
  .js-site-search .awesome-autocomplete .twitter-typeahead .tt-dropdown-menu {
    margin-top: 6px;
    width: 360px; }

.js-site-search.scoped-search .header-search-wrapper {
  position: relative; }

.js-site-search.scoped-search .awesome-autocomplete .twitter-typeahead {
  position: static;
  width: 162px; }
  .js-site-search.scoped-search .awesome-autocomplete .twitter-typeahead .tt-dropdown-menu {
    width: 360px; }

.site-header-nav-secondary .js-site-search-form .awesome-autocomplete .twitter-typeahead {
  width: 160px; }
  .site-header-nav-secondary .js-site-search-form .awesome-autocomplete .twitter-typeahead .tt-dropdown-menu {
    width: 360px; }

.site-header-nav-secondary .js-site-search-form .awesome-autocomplete .icon-delete {
  bottom: 8px; }

.site-header-nav-secondary .js-site-search-form .awesome-autocomplete .twitter-typeahead .tt-dropdown-menu {
  margin-left: -200px; }

.js-site-search .awesome-autocomplete.repo-scope .twitter-typeahead .tt-dropdown-menu {
  margin-left: -110px; }

.js-site-search .awesome-autocomplete.org-scope .twitter-typeahead .tt-dropdown-menu {
  margin-left: -122px; }

form#search_form .awesome-autocomplete .twitter-typeahead {
  width: inherit; }
  form#search_form .awesome-autocomplete .twitter-typeahead .tt-input {
    padding: 7px 8px !important;
    border: 1px solid #DDDDDD; }
    form#search_form .awesome-autocomplete .twitter-typeahead .tt-input:focus {
      border-color: #51a7e8;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(81, 167, 232, 0.5); }
  form#search_form .awesome-autocomplete .twitter-typeahead .tt-dropdown-menu {
    width: 100%; }

.pagehead .repohead-details-container ul.pagehead-actions {
  z-index: initial; }
