<!doctype html>
<html>

<head>
</head>

<body>
    <div id="myDiv"></div>



</body>


<footer>
    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script type="text/javascript">

        var graphs = {{graphJSON | safe}};

        for(var i in graphs) {
            Plotly.plot(
                        graphs[i].data,
                        graphs[i].layout || {});
        }

    </script>
</footer>

</html>