################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################
# git rm --cached -r * 해야 기존에 있는거 지워짐
/c#/DrawScreen/bin/Debug
.vs/
User Data/
Debug/
src.exe

build/
dist/
__pycache__
__pycache__
*.spec
node_modules/

out/