<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container">
    <div>
        <h1>Hello Spring</h1>
        <div>
        <p>회원 기능</p>
        <p>
            <a href="/members/new">회원 가입</a>
            <a href="/members">회원 목록</a>
            <a href="/members/search">회원 검색</a>
            <a href="/members/login">로그인</a>
            <a href="/members/login/check">로그인정보 확인</a>
            <a href="/members/logout">로그아웃</a>
        </p>
        </div>
        <div>
            <p>게시판 기능</p>
            <p>
                <a href="/bbs/new">게시글 쓰기</a>
                <a href="/bbs">게시글 리스트</a>
<!--                <a href="/bbs/[게시글번호]">게시글 보기</a>-->
<!--                <a href="/bbs/[게시글번호]/edit">게시글 수정</a>-->
            </p>
        </div>
    </div>
</div>
</body>
</html>