{% extends "layout.html" %}
{% block content %}
    <div class="pagination-centered">
    <form method="POST">
        <div class="card text-center">
            <div class="card-header">
                <img src="{{ url_for('static', filename='quiz_pics/' + '1.jpg') }}" class="card-img-top mb-4" alt="...">
                <h5 class="card-title">1. 다음 중 현재 상황에서 상사로서 부하들에게 취해야 할 올바른 행동은?</h5>
            </div>
            <div class="card-body">
                <div class="btn-group-toggle list-group" data-toggle="buttons">
                    <label class="btn btn-outline-secondary active" style="white-space: normal">
                        <input type="radio" name="options" value="1" autocomplete="off" checked> 아무말도 하지 않는다
                    </label>
                    <label class="btn btn-outline-secondary" style="white-space: normal">
                        <input type="radio" name="options" value="2" autocomplete="off"> 옆에 있는 부하를 시켜 전화번호를 따오게 한다
                    </label>
                    <label class="btn btn-outline-secondary" style="white-space: normal">
                        <input type="radio" name="options" value="3" autocomplete="off"> 나무아미타불 관세음보살 나미아미타불 ... 불경을 외며 아무렇지 않은 척 한다
                    </label>
                    <label class="btn btn-outline-secondary" style="white-space: normal">
                            <input type="radio" name="options" value="4" autocomplete="off"> 맨 앞에 서 있는 부하에게 말을 걸며 뛰어가서 여성을 얼굴을 슬쩍 본다
                    </label>
                </div>
              <button type="submit" class="btn btn-secondary btn-default mt-1 mb-1" style="width:100%">제출</button>
            </div>
          </div>
    </form>
    </div>
{% endblock content %}