.btn {
  padding: 4px 10px;
  border: none;
  border-radius: 4px;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #fff;
  background-color: #999;
  border-color: #999;
}
.wrap {
  padding: 10px 40px;
}
.line {
  border: 0;
  border-bottom: 1px solid #ddd;
}
.nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 100%;
  border-right: 1px solid #ddd;
}
.nav .menu {
  display: block;
  position: relative;
  width: 100%;
  padding: 10px 30px;
  font-size: 160%;
  font-weight: bold;
  color: #999;
  text-align: left;
}
.nav .menu:first-child {
  margin-top: 35px;
}
.nav .menu:before {
  position: relative;
  top: 1px;
  padding-right: 5px;
}
.nav .menu.on {
  background: #333;
  color: #fff;
}
.content {
  margin-left: 120px;
  padding-left: 20px;
  margin-top: 37px;
}
.content h3 {
  position: relative;
  margin: 25px 0 5px 0;
  font-size: 130%;
  font-weight: bold;
}
.content h3:before {
  position: relative;
  top: 1px;
  padding-right: 3px;
}
.content h4 {
  font-size: 110%;
  font-weight: bold;
  margin: 4px 0;
}
.content .noti {
  position: absolute;
  top: 0px;
  left: 180px;
  padding: 8px 10px;
  font-weight: bold;
  border-radius: 0 0 5px 5px;
  background: orange;
}
.content .desc {
  margin: 5px 20px;
}
.content .box {
  margin: 5px 20px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.content .box .item {
  line-height: 20px;
}
.content .box label {
  padding-left: 8px;
}
.content .drag-option {
  margin-left: 10px;
}
.content .shortcut .item {
  margin-left: 10px;
}
.content .font-size .btn:before {
  padding-right: 5px;
}
.content .font-size .current-font-size {
  padding: 0 10px;
  font-size: 105%;
}
.content .font-size #viewer {
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 320px;
  height: 180px;
  overflow: hidden;
}
.content #todo {
  margin: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 90%;
  height: 250px;
  overflow: hidden;
}
.content .outlink {
  margin-top: 10px;
  margin-left: 20px;
  display: inline-block;
  padding: 8px 16px;
  text-decoration: underline;
  border-radius: 5px;
  font-size: 120%;
  background: #727272;
  color: #fff;
  font-weight: bold;
}
.content .notice {
  margin-left: 20px;
}
.content .notice .notice-item {
  margin: 10px 0;
}
.content .notice .notice-item .notice-title {
  display: block;
  width: 100%;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  background: #727272;
}
.content .notice .notice-item .notice-title span {
  display: inline-block;
  margin: 5px 0 5px 10px;
  color: #fff;
  font-size: 120%;
  font-weight: bold;
}
.content .notice .notice-item .notice-desc {
  margin: 0;
  padding: 20px;
  background: #fff;
  word-break: break-word;
  border-radius: 0 0 5px 5px;
}
.content .other .otherVersion {
  margin-left: 20px;
  font-weight: bold;
}
.content .other .version {
  display: inline-block;
  padding: 5px 10px;
  margin: 0px 5px;
  color: #fff;
  font-weight: bold;
  background: #727272;
  border-radius: 5px;
}
