<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout 구성하기</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>CSS Layout</h1>
  <p>레이아웃....</p>
  <p>레이아웃 찍어내랏...</p>

  <header>
    <h2>헤더</h2>
  </header>
  <section>
    <nav>
      <ul>
        <li><a href="#">nav바</a></li>
        <li><a href="#">링크1</a></li>
        <li><a href="#">링크2</a></li>
        <li><a href="#">링크3</a></li>
      </ul>
    </nav>

    <article>
      <h1>Article1</h1>
      <p>Article1에 대한 글</p>
      <p>Article1은 이러저러하다</p>
    </article>

    <article>
      <h1>Article2</h1>
      <p>Article2에 대한 글</p>
      <p>Article2는 이러저러하다</p>
    </article>
  </section>

  <footer>
    <p>Footer</p>
  </footer>
</body>
</html>