body {
  background: #919793;
  padding: 2em;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.ancatomy {
  position: relative;
  text-align: center;
  font-size: 1vw;
  color: #fff;
}
.ancatomy img {
  display: block;
  width: 30em;
  margin: 0 auto;
}
.ancatomy .cute-bit {
  position: absolute;
  min-width: 15em;
  transition: all 0.25s ease-out;
}
.ancatomy .cute-bit:hover {
  min-width: 21em !important;
}
.ancatomy .cute-bit.grow-left {
  text-align: left;
}
.ancatomy .cute-bit.grow-left h2 {
  padding-right: 1em;
}
.ancatomy .cute-bit.grow-left h2:after {
  right: 0;
  transform: translate(50%, 50%);
}
.ancatomy .cute-bit.grow-right {
  text-align: right;
}
.ancatomy .cute-bit.grow-right h2 {
  padding-left: 1em;
}
.ancatomy .cute-bit.grow-right h2:after {
  left: 0;
  transform: translate(-50%, 50%);
}
.ancatomy .cute-bit h2 {
  position: relative;
  padding: 0 0 0.4em;
  border-bottom: solid 0.2em;
  margin: 0 0 0.4em;
  text-shadow: 0 0 1em 1em rgba(0, 0, 0, 0.1);
}
.ancatomy .cute-bit h2:after {
  position: absolute;
  bottom: -0.1em;
  content: "";
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: #fff;
}
.ancatomy .cute-bit p {
  margin: 0;
  padding: 0;
  text-shadow: 0 0 1em 1em rgba(0, 0, 0, 0.1);
}
.ancatomy .cute-bit.cute-ears {
  right: 43%;
  top: 8%;
  min-width: 12em;
}
.ancatomy .cute-bit.cute-eyes {
  right: 58%;
  top: 44%;
}
.ancatomy .cute-bit.cute-nose {
  left: 47.5%;
  top: 55%;
  min-width: 16em;
}
.ancatomy .cute-bit.cute-paws {
  left: 39%;
  bottom: 10%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}