.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 400px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    background: #5CA4EA;
    transform: translate(-50%, -50%);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

input[type="text"] {
    height: 32px;
    width: 220px;
    padding: 0 10px;
    outline: none;
    border: none;
    color: #4F86C6;
    margin-right: 5px;
}

input[type="text"]:focus {
    box-shadow: 3px 3px 10px #566270;
}

input[type="submit"] {
    height: 32px;
    width: 80px;
    padding: 0 10px;

    outline: none;
    border: none;
    color: #4F86C6;
    float: right;
}

input[type="submit"]:hover {
    box-shadow: 3px 3px 10px #566270;
}

input[type="submit"]:active {
    background:#BCBCBC
}

::placeholder {
    color: #5a6174;
}

#recommend {
    margin-top: 1px;
    position: absolute;
    background: white;
    padding: 0 10px;
}

.item {
    height: 1.8em;
    width: 220px;
    outline: none;
}

.item:hover {
    color: #9baec8;
}
.text {
    font-weight: bold;
}

.invisible {
    display: none;
}