<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bbsList.css">
</head>
<body>
<table class="cmnty-view">
    <colgroup>
        <col width="6%">
        <col width="60%">
        <col width="10%">
        <col width="6%">
        <col width="6%">
        <col width="12%">
    </colgroup>
    <thead>

    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>글쓴이</th>
        <th>추천</th>
        <th>조회</th>
        <th>날짜</th>
    </tr>
    </thead>
    <tbody>

    <tr>
        <td>1</td>
        <td><a href='/bbs/view?bbsID=1'>오늘 점심은 뭘 먹을까 나는 맛있는걸 먹고 싶당</a>
        <td>인생마린</td>
        <td>3</td>
        <td>5</td>
        <td>2021-07-06</td>
    </tr>

    <tr th:each="bbs : ${bbsList}">
        <td th:text="${bbs.id}"></td>
        <td><a th:href="@{/bbs/view(bbsID=${bbs.id})}" th:text="${bbs.title}"></a></td>
        <td th:text="${bbs.userID}"></td>
        <td th:text="${bbs.recommend}"></td>
        <td th:text="${bbs.view}"></td>
        <td th:text="${bbs.date}"></td>
    </tr>

    </tbody>
</table>

<div class="bottom">
    <button class="write-button" type="button" onclick="location.href='/bbs/write'">글쓰기</button>
</div>
<div class="botton2">
    <button class="prev-button" onclick="location.href='/bbs/lIst?pageNumber=1'">이전</button>
    <button class="next-button" onclick="location.href='/bbs/list?pageNumber=2'">다음</button>

</div>
</body>
</html>