<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bbsList.css">
</head>
<body>
<table class="cmnty-view">
    <colgroup>
        <col width="6%">
        <col width="60%">
        <col width="10%">
        <col width="6%">
        <col width="6%">
        <col width="12%">
    </colgroup>
    <thead>

    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>글쓴이</th>
        <th>추천</th>
        <th>조회</th>
        <th>날짜</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="bbs : ${bbsList}">
        <td th:text="${bbs.id}"></td>
        <td><a th:href="@{'/bbs/' + ${bbs.id}}" th:text="${bbs.title}"></a></td>
        <td th:text="${bbs.userID}"></td>
        <td th:text="${bbs.recommend}"></td>
        <td th:text="${bbs.view}"></td>
        <td th:text="${bbs.date}"></td>
    </tr>

    </tbody>
</table>

<div class="bottom">
    <button class="write-button" type="button" onclick="location.href='/bbs/new'">글쓰기</button>
</div>
<div class="botton2">
    <button class="prev-button" th:onclick="movePage(false)">이전</button>
    <button class="next-button" th:onclick="movePage(true)">다음</button>
</div>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    let page = /*[[${page}]]*/ 'default';
    page = parseInt(page)
    if(isNaN(page) || page <= 1)
        page = 1

    window.onload = () => {
        let pbtn = document.querySelector(".prev-button")
        let nbtn = document.querySelector(".next-button")

        if(page <= 1)
            pbtn.remove()

    }
    function movePage(dir) {

        if(dir) {
            location.href = `/bbs?page=${page + 1}`
        } else {
            location.href = `/bbs?page=${page - 1}`
        }


    }
    /*]]*/
</script>
</html>